

<div class="body">
 
    <!-- Contenedor de recuadros -->
    <div class="contenedor">
      <div class="item">
      <!-- Recuadro 1 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla1" >
          <img src="/images/1.gif" alt="GIF 1">
        </a>
        </div>
        
        <p class="texto">Tabla del 1</p>
          
      </div>
      
      <div class="item">
      <!-- Recuadro 2 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla2" >
          <img src="/images/2.gif" alt="GIF 2">
        </a>
      </div>
      <p class="texto" >Tabla del 2</p>
      </div>
      <!-- Recuadro 3 -->
      <div class="item">
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla3" >
          <img src="/images/3.gif" alt=" GIF 3">
        </a>
      </div>
      <p class="texto">Tabla del 3</p>
  </div>
  <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla4" >
          <img src="/images/4.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 4</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla5" >
          <img src="/images/5.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 5</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla6" >
          <img src="/images/6.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 6</p>
    </div>
    <div class="item">
      <!-- Recuadro 4 -->
      <div class="recuadro">
        <a href="/ejercicios_mul_div2/<%= username %>/tabla7" >
          <img src="/images/7.gif" alt="GIF 4">
        </a>
      </div>
  
      <p class="texto">Tabla del 7</p>
    </div>
    <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div2/<%= username %>/tabla8" >
            <img src="/images/8.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 8</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div2/<%= username %>/tabla9" >
            <img src="/images/9.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 9</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div2/<%= username %>/tabla10" >
            <img src="/images/10.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Tabla del 10</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div2/<%= username %>/frutas" >
            <img src="/images/ff.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Fiesta de las Frutas</p>
      </div>
      <div class="item">
        <!-- Recuadro 4 -->
        <div class="recuadro">
          <a href="/ejercicios_mul_div2/<%= username %>/globos" >
            <img src="/images/globos.gif" alt="GIF 4">
          </a>
        </div>
    
        <p class="texto">Los Globos</p>
      </div>
    </div>
  </div>