<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %>
    <title>Home - Numboland</title>
</head>
<body class="stretched">
    <div id=" main-content">

        <%- include ('../partials/menu_login/header'); %>
        
        <%- include ('../partials/info_section'); %>
        
        
    </div>
        <%- include ('../partials/footer'); %>
        <%- include ('../partials/scripts_home'); %>
</body>


</html>
